html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

#c {
    position: absolute;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
    border: 1px solid #AAA;
}
